server:
  port: ${SPRING_SERVER_PORT:8080}

spring:
  application:
    name: ${SPRING_APPLICATION_NAME:highLog}
  datasource:
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME:org.postgresql.Driver}
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    properties:
      hibernate:
        format_sql: ${SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL}
        default_batch_fetch_size: ${SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_BATCH_FETCH_SIZE}

    show_sql: true

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_SERVER_PORT:6379}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

jwt:
  secret: ${JWT_SECRET}
  access-token-expirations: ${JWT_ACCESS_TOKEN_EXPIRATIONS}
  refresh-token-expirations: ${JWT_REFRESH_TOKEN_EXPIRATIONS}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

